@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  border-radius: 15px;
}

body {
  display: flex;
  background-color: rgb(118, 118, 118);
  justify-content: center;
  width: 100vw;
}

main {
  border: 4px solid rgb(46, 46, 46);
  margin-top: 20px;
  padding: 10px;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 4px 4px 8px black;
}

.pageHeading {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#morse {
  width: 64px;
}

.inputLayout {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.inputLabels {
  padding-top: 10px;
  text-align: right;
}

textarea {
  box-shadow: inset 1px 1px 3px black;
  resize: vertical;
  padding: 10px;
  font-size: 22px;
  font-stretch: expanded;
}

.encode_button {
  width: fit-content;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}
.encode_button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px black;
}

.textbox {
  position: relative;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.wrapper::after {
  content: "↕";
  font-weight: 900;
  color: black;
  position: absolute;
  bottom: 10px;
  right: 6px;
  z-index: 4;
  pointer-events: none;
}
